.mui-content-padded{
	margin-top: 25px;
	margin-bottom: 25px;
}
.question{
	color: #3532E8;
}
.mui-btn{
	padding: 10px;
}
body{
	background: white;
}
.mui-input-group:before,.mui-input-group:after{
	height: 0px;
}
#quxiao{
	color: green;
	text-align: left;
	padding: 10px;
}
.mui-input-group{
	padding: 6px;
}
.mui-input-row label{
	font-weight: 700;
}
.mui-input-clear{
	padding-top: 10px;
	font-size: 15px;
	}
