.mui-bar .mui-icon{
	font-size: 15px;
	margin-top: 6px;
}
html,body,.mui-content{
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: hidden;
	background-image: url(fijin3.png) ;
	background-position: center;
	background-size: 100% 40%;
	background-repeat: no-repeat;
}
.up,.down{
	height: 50%;
	width: 100%;
	text-align: center;
	-webkit-transform: all .5s ease-in-out;
}
.up img,.down img{
	height: 100%;
	width: 100%;
}
.mui-content{
	background-color: #262636;
}


