.mui-table-view .mui-media-object{
	line-height: 28px;
    max-width: 28px;
    height: 28px;
}
.list-tile{
	line-height: 28px;
    height: 28px;
    display: inline-block;
}
.mui-table-view{
	margin-bottom: 23px;
}
